.container {
    width: 405px;
    height: 100%;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    background-color: white;
    transition: box-shadow 0.6s ease;
    transition: transform 0.6s ease;
    box-shadow: 0.5px 0.5px 0.8px hsl(233deg 28% 75% / 0.28),
        2.3px 2.2px 3.6px -1.2px hsl(233deg 28% 75% / 0.28),
        8.4px 8.1px 13.1px -2.5px hsl(233deg 28% 75% / 0.28);
}

.container:hover {
    box-shadow: 0.5px 0.5px 0.8px hsl(233deg 28% 75% / 0.28),
        3.2px 3.1px 5px -0.6px hsl(233deg 28% 75% / 0.28),
        7.2px 7px 11.3px -1.2px hsl(233deg 28% 75% / 0.28),
        15.6px 15.1px 24.4px -1.9px hsl(233deg 28% 75% / 0.28),
        31.2px 30.1px 48.8px -2.5px hsl(233deg 28% 75% / 0.28);

    transform: scale(1.05);
}

.userAvatar {
    margin-top: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #2a2a2a;
}

.userName {
    color: #000;
    margin: auto 15px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.userFont {
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    color: #808080;
}

.statsList {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    background-color: #d3d3d3;
    border-top: 2px solid #808080;
}

.statsListItem {
    display: grid;
    width: 135px;
    padding: 16px 8px;
    border-right: 2px solid #808080;
}

.statsListItem:last-of-type {
    border: none;
}

.listTitle {
    font-size: 25px;
    font-weight: normal;
    color: black;
}

.listAmount {
    font-size: 25px;
    color: black;
    font-weight: bold;
}