li {
    list-style-type: none;
}

.isOnline {
    color: green;
}

.isOffline {
    color: red;
}

.avatarImage {
    width: 100px;
    height: auto;
}

.friendName {
    margin: 0;
    font-size: 30px;
}