.transactionTable {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 16px;
    border-collapse: collapse;
    text-transform: capitalize;
    font-weight: 500;
    margin: auto;
    box-shadow: 0.5px 0.5px 0.8px hsl(233deg 28% 75% / 0.28),
            2.3px 2.2px 3.6px -1.2px hsl(233deg 28% 75% / 0.28),
            8.4px 8.1px 13.1px -2.5px hsl(233deg 28% 75% / 0.28);
}

.transactionTable th {
    background-color: #2a2a2a;
    color: white;
}

td {
    width: 100px;
}

.transactionTable th,
.transactionTable td {
    border: 2px solid #000;
    padding: 8px;
}

.transactionTable tbody tr:nth-child(even) {
    background-color: #d3d3d3;
}

.transactionTable tbody tr:nth-child(odd) {
    background-color: #fff;
}